In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import pickle
import json 
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("Cleaned_By_Route_Header/route_104.csv")

In [3]:
df

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,MONTH,DAY,Quarter,ARRIVAL_TIME_ACTUAL,DEPARTURE_TIME_ACTUAL,DWELL_TIME,LINEID,ROUTEID,DIRECTION
0,2018-01-01,5961720,12,608,55150,55150,55387,55387,2406900,1,0,1,15:23:07,15:23:07,0,104,104_15,1
1,2018-01-01,5961720,13,4791,55224,55224,55442,55442,2406900,1,0,1,15:24:02,15:24:02,0,104,104_15,1
2,2018-01-01,5961720,14,4792,55253,55253,55460,55460,2406900,1,0,1,15:24:20,15:24:20,0,104,104_15,1
3,2018-01-01,5961720,18,1197,55459,55459,55684,55692,2406900,1,0,1,15:28:04,15:28:12,8,104,104_15,1
4,2018-01-01,5961720,20,250,55650,55650,55834,55847,2406900,1,0,1,15:30:34,15:30:47,13,104,104_15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265589,2018-12-29,8580077,32,1745,34129,34129,34133,34133,2406897,12,5,4,09:28:53,09:28:53,0,104,104_16,2
265590,2018-12-29,8580077,33,1746,34158,34158,34146,34146,2406897,12,5,4,09:29:06,09:29:06,0,104,104_16,2
265591,2018-12-29,8580077,34,1747,34206,34206,34186,34196,2406897,12,5,4,09:29:46,09:29:56,10,104,104_16,2
265592,2018-12-29,8580077,35,1748,34402,34402,34224,34224,2406897,12,5,4,09:30:24,09:30:24,0,104,104_16,2
265593,2018-12-29,8580077,36,1749,34553,34553,34245,34245,2406897,12,5,4,09:30:45,09:30:45,0,104,104_16,2

In [4]:
sorted_df = df.groupby(["DAYOFSERVICE","TRIPID"]).apply(lambda x: x.sort_values(["PROGRNUMBER"], ascending = True)).reset_index(drop=True)

In [67]:
stops = sorted_df.head(34).STOPPOINTID

In [6]:
stops_2 = sorted_df.iloc[34:68].STOPPOINTID

In [74]:
stops = stops.values.tolist()

In [8]:
stops_2 = stops_2.values.tolist()

In [9]:
stops

[1730,
 1731,
 1732,
 1733,
 1650,
 1652,
 5141,
 1773,
 1774,
 1651,
 4784,
 608,
 4791,
 4792,
 1196,
 1197,
 4473,
 250,
 251,
 4597,
 255,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 114,
 1645,
 1646,
 7571]

In [10]:
stops_2

[7571,
 1644,
 1605,
 228,
 229,
 227,
 230,
 231,
 232,
 233,
 242,
 243,
 253,
 245,
 4474,
 4790,
 1220,
 1221,
 674,
 4389,
 4390,
 530,
 4785,
 1764,
 1765,
 1766,
 1767,
 7129,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749]

In [104]:
stops_dict = {}
stops_dict['d1'] = stops
stops_dict['d2'] = stops_2

In [146]:
stops_dict

{'d1': [1730,
  1731,
  1732,
  1733,
  1650,
  1652,
  5141,
  1773,
  1774,
  1651,
  4784,
  608,
  4791,
  4792,
  1196,
  1197,
  4473,
  250,
  251,
  4597,
  255,
  218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  114,
  1645,
  1646,
  7571],
 'd2': [7571,
  1644,
  1605,
  228,
  229,
  227,
  230,
  231,
  232,
  233,
  242,
  243,
  253,
  245,
  4474,
  4790,
  1220,
  1221,
  674,
  4389,
  4390,
  530,
  4785,
  1764,
  1765,
  1766,
  1767,
  7129,
  1744,
  1745,
  1746,
  1747,
  1748,
  1749]}

In [220]:
def direction(start,end, stops):
    for key, value in stops.items():
        if start in value and end in value:
            return key

In [222]:
stop_sequence = stops_dict[direction(1221,1765,stops_dict)]

In [223]:
journey_stops = stop_sequence[stop_sequence.index(1221):stop_sequence.index(1765)+1]

In [224]:
journey_stops

[1221, 674, 4389, 4390, 530, 4785, 1764, 1765]

In [225]:
def peak_hour(hour):
    if hour >7 and hour <10 or hour >16 and hour <19:
        peak = 1
    else:
        peak = 0
        
    return peak

In [226]:
user_input = [1,17,5,1221,1765,peak_hour(17),8,11,6.2,'Rain']

In [227]:
user_input

[1, 17, 5, 1221, 1765, 1, 8, 11, 6.2, 'Rain']

In [228]:
prediction_df = pd.DataFrame(journey_stops, columns=['STOPPOINTID'])

In [229]:
prediction_df['NEXT_STOPPOINTID'] = prediction_df['STOPPOINTID'].shift(-1)
prediction_df = prediction_df.dropna(axis=0)
prediction_df['NEXT_STOPPOINTID'] = prediction_df['NEXT_STOPPOINTID'].astype('int')
prediction_df

   STOPPOINTID  NEXT_STOPPOINTID
0         1221               674
1          674              4389
2         4389              4390
3         4390               530
4          530              4785
5         4785              1764
6         1764              1765

In [231]:
df = pd.DataFrame(columns=['DAY','HOUR','MONTH','STOPPOINTID','NEXT_STOPPOINTID',
                           'PEAK_HOUR', 'wind_speed','temp','humidity', 'weather_main'])
df.loc[0] = user_input
del df['STOPPOINTID']
del df['NEXT_STOPPOINTID']

In [158]:
frames = [prediction_df, df]
result = pd.concat(frames, axis=1).ffill()

In [159]:
result

,STOPPOINTID,NEXT_STOPPOINTID,DAY,HOUR,MONTH,PEAK_HOUR,wind_speed,temp,humidity,weather_main
0,1644,1605,1,17,5,1,8,11,6.2,Rain
1,1605,228,1,17,5,1,8,11,6.2,Rain
2,228,229,1,17,5,1,8,11,6.2,Rain
3,229,227,1,17,5,1,8,11,6.2,Rain
4,227,230,1,17,5,1,8,11,6.2,Rain

In [160]:
result['STOPPOINTID'] = result['STOPPOINTID'].astype('category')
result['NEXT_STOPPOINTID'] = result['NEXT_STOPPOINTID'].astype('category')
result['DAY'] = result['DAY'].astype('category')
result['HOUR'] = result['HOUR'].astype('category')
result['MONTH'] = result['MONTH'].astype('category')
result['PEAK_HOUR'] = result['PEAK_HOUR'].astype('int')
result['wind_speed'] = result['wind_speed'].astype('float')
result['temp'] = result['temp'].astype('int')
result['humidity'] = result['humidity'].astype('float')
result['weather_main'] = result['weather_main'].astype('category')

In [161]:
df_dummies = pd.get_dummies(result)

In [162]:
df_dummies

,PEAK_HOUR,wind_speed,temp,humidity,STOPPOINTID_227,STOPPOINTID_228,STOPPOINTID_229,STOPPOINTID_1605,STOPPOINTID_1644,NEXT_STOPPOINTID_227,NEXT_STOPPOINTID_228,NEXT_STOPPOINTID_229,NEXT_STOPPOINTID_230,NEXT_STOPPOINTID_1605,DAY_1,HOUR_17,MONTH_5,weather_main_Rain
0,1,8.0,11,6.2,0,0,0,0,1,0,0,0,0,1,1,1,1,1
1,1,8.0,11,6.2,0,0,0,1,0,0,1,0,0,0,1,1,1,1
2,1,8.0,11,6.2,0,1,0,0,0,0,0,1,0,0,1,1,1,1
3,1,8.0,11,6.2,0,0,1,0,0,1,0,0,0,0,1,1,1,1
4,1,8.0,11,6.2,1,0,0,0,0,0,0,0,1,0,1,1,1,1

In [163]:
with open('/home/tomah/data/Model_Testing/LinRegPickles/LinReg_route_104_headers.pkl', 'rb') as handle:
    dummies = pickle.load(handle)

In [164]:
full_dummies = pd.DataFrame(columns=dummies)

In [165]:
full_dummies

Empty DataFrame
Columns: [PEAK_HOUR, wind_speed, temp, humidity, DAY_0, DAY_1, DAY_2, DAY_3, DAY_4, DAY_5, DAY_6, HOUR_6, HOUR_7, HOUR_8, HOUR_9, HOUR_10, HOUR_11, HOUR_12, HOUR_13, HOUR_14, HOUR_15, HOUR_16, HOUR_17, HOUR_18, HOUR_19, HOUR_20, HOUR_21, HOUR_22, MONTH_1, MONTH_2, MONTH_3, MONTH_4, MONTH_5, MONTH_6, MONTH_7, MONTH_8, MONTH_9, MONTH_10, MONTH_11, MONTH_12, STOPPOINTID_114, STOPPOINTID_218, STOPPOINTID_219, STOPPOINTID_220, STOPPOINTID_221, STOPPOINTID_222, STOPPOINTID_223, STOPPOINTID_224, STOPPOINTID_225, STOPPOINTID_226, STOPPOINTID_227, STOPPOINTID_228, STOPPOINTID_229, STOPPOINTID_230, STOPPOINTID_231, STOPPOINTID_232, STOPPOINTID_233, STOPPOINTID_242, STOPPOINTID_243, STOPPOINTID_244, STOPPOINTID_245, STOPPOINTID_250, STOPPOINTID_251, STOPPOINTID_253, STOPPOINTID_255, STOPPOINTID_530, STOPPOINTID_608, STOPPOINTID_662, STOPPOINTID_663, STOPPOINTID_674, STOPPOINTID_1196, STOPPOINTID_1197, STOPPOINTID_1220, STOPPOINTID_1221, STOPPOINTID_1605, STOPPOINTID_1644, STOPPOINTID_1645, STOPPOINTID_1646, STOPPOINTID_1650, STOPPOINTID_1651, STOPPOINTID_1652, STOPPOINTID_1730, STOPPOINTID_1731, STOPPOINTID_1732, STOPPOINTID_1733, STOPPOINTID_1744, STOPPOINTID_1745, STOPPOINTID_1746, STOPPOINTID_1747, STOPPOINTID_1748, STOPPOINTID_1749, STOPPOINTID_1764, STOPPOINTID_1765, STOPPOINTID_1766, STOPPOINTID_1767, STOPPOINTID_1773, STOPPOINTID_1774, STOPPOINTID_4389, STOPPOINTID_4390, STOPPOINTID_4473, ...]
Index: []

In [166]:
df_a, df_b = full_dummies.align(df_dummies,fill_value=0)

In [167]:
final_df_for_predict = df_b.reindex(full_dummies.columns, axis=1)

In [168]:
with open('/home/tomah/data/Model_Testing/LinRegPickles/LinReg_Model_route_104.pkl', 'rb') as handle:
    model = pickle.load(handle)

In [169]:
y_pred_linear = model.predict(final_df_for_predict)

In [170]:
y_pred_linear

array([ 55.04296875, 116.7298584 ,  27.60546875,  42.93878174,
        38.71643066])

In [171]:
print('time in seconds:', sum(y_pred_linear))
print('time in minutes:', sum(y_pred_linear)/60)

time in seconds: 281.03350830078125
time in minutes: 4.683891805013021

In [133]:
# Opening JSON file
f = open('/home/tomah/data/Stop_sequences_full.json')
stops_sequence = json.load(f)

In [144]:
def get_route(stops, route):
    route_dict = {}
    for i in range(1,3):
        
        if (route + "_{}".format(i)) in stops:

            sequence = stops[route + "_{}".format(i)]
            route_dict['d{}'.format(i)] = {}
            route_dict['d{}'.format(i)] = sequence
            
        else:
            pass
        
    return route_dict

In [146]:
get_route(stops_sequence, '51X')

{'d2': [7433,
  4677,
  2136,
  2137,
  2138,
  2139,
  2140,
  2141,
  2142,
  2143,
  2145,
  4670,
  3420,
  3421,
  3422,
  3423,
  4409,
  1972,
  1973,
  1974,
  1975,
  1982,
  2642,
  7435,
  4413,
  7453,
  1478,
  1479,
  315,
  336,
  404,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  4953,
  7433,
  4677,
  2136,
  2137,
  2138,
  2139,
  2140,
  2141,
  2142,
  2143,
  2145,
  4670,
  3420,
  3421,
  3422,
  3423,
  4409,
  1972,
  1973,
  1974,
  1975,
  1982,
  2642,
  7435,
  4413,
  7453,
  1478,
  1479,
  315,
  336,
  404,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  4953,
  7433,
  4677,
  2136,
  2137,
  2138,
  2139,
  2140,
  2141,
  2142,
  2143,
  2145,
  4670,
  3420,
  3421,
  3422,
  3423,
  4409,
  1972,
  1973,
  1974,
  1975,
  1982,
  2642,
  7435,
  4413,
  7453,
  1478,
  1479,
  315,
  336,
  404,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  4953,
  7433,
  4677,
  2136,
  2137,
  2138,
  2139,
  2140,
  2141,
  2142,
  2143,
  2145,
  4670,
  3420,
  3421,
  3422,
  3423,
  4409,
  1972,
  1973,
  1974,
  1975,
  1982,
  2642,
  7435,
  4413,
  7453,
  1478,
  1479,
  315,
  336,
  404,
  747,
  748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  4953]}

In [91]:
def peak_hour(hour):
    """ returns 1 if hour is within peak hour time slots, 0 otherwise"""
    if (7 < hour < 10) or (16 < hour < 19):
        peak = 1
    else:
        peak = 0

    return peak

In [92]:
def direction(start, end, stops):
    """ deciphers which direction the journey is taking place and returns the relevant key
    such that the dictionary can be accessed """

    for key, value in stops.items():
        if start in value and end in value:
            return key

In [138]:
stops_sequence['46A_1']

[334,
 406,
 747,
 842,
 845,
 846,
 847,
 848,
 2795,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 2007,
 2008,
 2009,
 2010,
 435,
 7353,
 4571,
 2013,
 2014,
 4636,
 2016,
 2015,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 4565,
 4566,
 4567,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2039]

In [209]:
print(direction(7571,253,stops_dict))

d2

In [93]:
def prediction(route, hour, day, month, start_stop_id, end_stop_id, wind_speed, temp, humidity, weather_main,
               stops):
    
    journey_stops = stops[direction(start_stop_id, end_stop_id, stops)]
    
    
    stop_sequence = journey_stops[journey_stops.index(start_stop_id):journey_stops.index(end_stop_id)+1]
    
    print(stop_sequence)
    prediction_df = pd.DataFrame(stop_sequence, columns=['STOPPOINTID'])
    prediction_df['NEXT_STOPPOINTID'] = prediction_df['STOPPOINTID'].shift(-1)
    prediction_df = prediction_df.dropna(axis=0)
    prediction_df['NEXT_STOPPOINTID'] = prediction_df['NEXT_STOPPOINTID'].astype('int')

    df = pd.DataFrame(columns=['DAY','HOUR','MONTH','PEAK_HOUR', 'wind_speed','temp','humidity', 'weather_main'])

    user_input = [day, hour, month, peak_hour(hour), wind_speed, temp, humidity, weather_main]
    
    df.loc[0] = user_input


    frames = [prediction_df, df]
    result = pd.concat(frames, axis=1).ffill()

    
    result['STOPPOINTID'] = result['STOPPOINTID'].astype('category')
    result['NEXT_STOPPOINTID'] = result['NEXT_STOPPOINTID'].astype('category')
    result['DAY'] = result['DAY'].astype('category')
    result['HOUR'] = result['HOUR'].astype('category')
    result['MONTH'] = result['MONTH'].astype('category')
    result['PEAK_HOUR'] = result['PEAK_HOUR'].astype('int')
    result['wind_speed'] = result['wind_speed'].astype('float')
    result['temp'] = result['temp'].astype('int')
    result['humidity'] = result['humidity'].astype('float')
    result['weather_main'] = result['weather_main'].astype('category')

    df_dummies = pd.get_dummies(result)

    with open('/home/tomah/data/Model_Testing/LinRegPickles/LinReg_route_104_headers.pkl', 'rb') as handle:
        dummies = pickle.load(handle)
    full_dummies = pd.DataFrame(columns=dummies)

    df_a, df_b = full_dummies.align(df_dummies, fill_value=0)
    final_df_for_predict = df_b.reindex(full_dummies.columns, axis=1)

    with open('/home/tomah/data/Model_Testing/LinRegPickles/LinReg_Model_route_104.pkl', 'rb') as handle:
        model = pickle.load(handle)

    y_pred_linear = model.predict(final_df_for_predict)

    final_prediction = sum(y_pred_linear) / 60

    return final_prediction

In [12]:
stops_dict = {'d1': [1730, 1731, 1732, 1733, 1650, 1652, 5141, 1773, 1774, 1651, 4784, 608, 4791, 4792, 1196,
                     1197, 4473, 250, 251, 4597, 255, 218, 219, 220, 221, 222, 223, 224, 225, 226, 114, 1645, 1646,
                     7571],
              'd2': [7571, 1644, 1605, 228, 229, 227, 230, 231, 232, 233, 242, 243, 253, 245, 4474, 4790, 1220, 1221,
                     674,
                     4389, 4390, 530, 4785, 1764, 1765, 1766, 1767, 7129, 1744, 1745, 1746, 1747, 1748, 1749]}

In [16]:
direction(7571, 530, stops_dict)

'd2'

In [13]:
prediction(104, 17, 1, 5, 7571, 530, 6, 11, 12.2, 'Rain', stops_dict)

[7571, 1644, 1605, 228, 229, 227, 230, 231, 232, 233, 242, 243, 253, 245, 4474, 4790, 1220, 1221, 674, 4389, 4390, 530]

764804267.6742462

In [20]:
prediction(104, 17, 3, 6, 232, 253, 2, 17, 88,  'Clouds', stops_dict)

[232, 233, 242, 243, 253]

4.302066040039063

In [262]:
string = '8220DB007571'

In [263]:
string = int(string[len(string) - 5:])

In [264]:
string

7571